:root {
  --color-red: #d90000;
  --color-blue: #457b9d;
  --color-black: #000000;
  --color-white: #f1f1f1;
  --font-display: 'Montserrat', system-ui, sans-serif;
  --font-body: 'Montserrat', system-ui, sans-serif;
  --font-hand: 'Caveat', cursive;
}
